{{ define "main" }}

<div class="team-page">

    <div class="team-logo">
        <img src="/images/logo.png" alt="Logo">
    </div>


    <section class="team">

        <div class="member">
            <img src="/images/people/mikolaj-harmoza.jpg">
            <h3>Mikołaj Harmoza</h3>
        </div>

        <div class="member">
            <img src="/images/person2.jpg">
            <h3>Name Two</h3>
        </div>

        <div class="member">
            <img src="/images/person3.jpg">
            <h3>Name Three</h3>
        </div>

        <div class="member">
            <img src="/images/person4.jpg">
            <h3>Name Four</h3>
        </div>

    </section>


    <section class="activity">

        <h2>Podróż artystyczna</h2>

        <p>
            Odbywamy podróż artystyczną, której celem jest stworzenie nowej przestrzeni związanej ze sztuką, a
            konkretnie z malarstwem, jego aktualnym dorobkiem i znaczeniem dla współczesnej kultury.

            Zaznaczamy swoją obecność poprzez interwencje artystyczne w przestrzeniach publicznych, które finalizujemy
            ustanowieniem placu, ulicy bądź punktu o nazwie przywołującej nasz koncept.

            Miejsca te, tworzone według estetyki poszczególnych miast zaznaczamy na mapie Europy jako punkty Nowej
            Przestrzeni dla sztuki, która jest dla nas bezcenna.

            Zapraszamy do śledzenia naszej akcji i związanych z nią interwencji artystycznych, a także do śledzenia
            działań naszej grupy.

            Akcja jest zwiastunem wielu działań w zakresie sztuki grupy artystów, którzy poprzez swoją twórczość
            odwołuja się do idei PND (o czym szerzej niebawem).
        </p>

    </section>

</div>

{{ end }}